<library path="src">
  <class name="Conman" type="rqt_smach.smach.Smach" base_class_type="rqt_gui_py::Plugin">
    <description>
      An RQT plugin for interacting with the Conman control manager.
    </description>
    <qtgui>
      <group>
        <label>Control</label>
      </group>
      <label>Conman</label>
      <icon type="theme">system-help</icon>
      <statustip>Use to visualize dot graphs over ROS.</statustip>
    </qtgui>
  </class>
</library>

