<library path="src">
  <class name="SMACH Viewer" type="rqt_smach.rqt_smach.SmachViewer" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to visualize SMACH plans.
    </description>
    <qtgui>
      <label>SMACH</label>
      <icon type="theme">system-help</icon>
      <statustip>SMACH Viewer</statustip>
    </qtgui>
  </class>
</library>
